<ngx-charts-pie-grid *ngIf="test"
[view]="view"
[scheme]="colorScheme"
[results]="single"
(select)="onSelect($event)">
</ngx-charts-pie-grid>

<!-- <div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th class="text-center">name</th>
                <th class="text-center">value</th>
                
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of test1">
                <td class="text-center" style="width: 15px;">{{post.name}}</td>
                <td class="text-center" style="width: 15px;">{{post.value}}</td>
               
            </tr>
            </tbody>
        </table>
    </div>
</div> -->