<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" >
  <app-navbar></app-navbar>

</div>

<div class="content" >
<div class="container - fluid" >
  <div class="row" >
    <div class="col-md-3" >
      <app-sidebar></app-sidebar>
    </div>
    <div  class="col-md-9">
        <div style="text-align:center" >
          
          <router-outlet></router-outlet>
          <!-- <app-signuplogin></app-signuplogin>
          <app-carousel></app-carousel> -->
          <!-- <app-dashboard></app-dashboard> -->
         <!-- <app-userprofile></app-userprofile> -->
           
      </div>
  </div>
</div>
</div>
</div>

